.dashboard-page {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
}

header {
  grid-column: 1 / span 2;
  padding: 15px;
}

.header-content {
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  background-color: #f68c36;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  padding: 0px 30px;
}

.header-logo a{
  text-decoration: none;

}

.header-logo h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

.search-bar-section {
  grid-column: 2 / span 1;
  padding: 0px 20px;
}

.search-input-wrapper {
  max-width: 800px;
  display: grid;
  justify-items: center;
  padding: 3px;
  margin: 0 auto;
  grid-template-columns: 1fr 70px;
  border-radius: 30px;
  background-color: white;
}

#search-bar {
  width: 100%;
  padding: 13px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px 0px 0px 20px;
  border: none;
  background-color: white;
}

input:focus {
  outline: none;
}

#search-bar-button {
  padding: 7px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  width: 65px;
  justify-items: center;
}

#search-bar-button:hover {
  background-color: #f68c36;
  color: white;
}
.loading-spinner {
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-top: 7px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-circle {
  display: grid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: white;
  align-content: center;
  border: none;
  cursor: pointer;
  color: #f68c36;
}

.profile-circle:hover {
  background-color: #f68c36;
  border: 3px solid white;
  color: white;
}

.overflow-container {
  display: grid;
  overflow: scroll;
  overflow-x: hidden;
}

.content-wrapper {
  display: grid;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.restaurants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-auto-rows: 300px;
  gap: 20px;
  padding: 1rem;
  justify-content: center;
}

.restaurant-card {
  position: relative;
  display: grid;
  background-color: rgb(245, 245, 245, 0.7);
  grid-template-rows: 150px 1fr;
  height: fit-content;
  border-radius: 8px;
  list-style: none;
  cursor: pointer;
}

.restaurant-card:hover {
  background-color: rgba(220, 219, 219, 0.5);
}

.restaurant-card-image {
  border-radius: 5px;
}

.restaurant-card-image img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.restaurant-logo {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: white;
}

.restaurant-card-info {
  padding: 1rem;
}

.restaurant-title-section {
  display: grid;
  grid-template-columns: 1fr 50px;
}

.restaurant-title {
  width: 200px;
  font-size: 1rem;
}

.restaurant-rating-section {
  display: grid;
  grid-template-columns: 20px 30px;
  align-items: center;
  justify-items: center;
}

.restaurant-rating-section svg {
  fill: #f68c36;
}

.restaurant-cuisines-p {
  font-size: 0.8rem;
  color: rgb(131, 130, 130);
}

.restaurant-address-p {
  font-size: 0.8rem;
}
