* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr;
}

header {
  grid-column: 1 / span 2;
}

.left-sidebar {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid black;
}

.overflow-container {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  background-color: lightblue;
}

.restaurants-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 2rem;
}

.restaurant-card {
  display: grid;
  grid-template-rows: 150px 1fr;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  list-style: none;
  cursor: pointer;
}

.restaurant-card-image {
  border: 1px solid black;
  border-radius: 5px;
}

.restaurant-card-image img {
 


}

.restaurant-card-info {
  padding: 1rem;
}