* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  font-weight: 400;
}



@font-face {
  font-family: "Poppins";
  src: local("PoppinsBold"),
    url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsMedium"),
    url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsLight"),
    url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 200;
}
